In [5]:
print("There once was a man named Geroge")
print("He was 70 years old")

There once was a man named Geroge
He was 70 years old

Variables and Data Types

In [21]:
character_name = "John"
character_age = 50
is_male = False

In [25]:
print("There once was a man named " + character_name + ",")
print("He was ",  character_age, " years old")

There once was a man named John,
He was  50  years old

Strings

In [49]:
print("Kushala")
print("****************************")
print("Kushala \nLearning space")
print("****************************")

name = "kushala"
print(name)
print("****************************")


print(name + " is cool")
print("****************************")

Kushala
****************************
Kushala
Learning space
****************************
kushala
****************************
kushala is cool
****************************

Functions

In [57]:
name = "Kushala"
print(name.lower())
print(name.upper())
print(name.islower())
print(name.isupper())

kushala
KUSHALA
False
False

In [61]:
print(len(name))
print(name[3])

7
h

In [73]:
print(name.index("Kush"))
print(name.index("u"))
print(name.index("l"))

0
1
5

In [77]:
print(name.replace("Kush", "kuushh"))

kuushhala

Numbers

In [95]:
print(2)
print(0.4728)
print(-268.45)
print(9+3)
print(9 - 0.46)
print(3 + 5 - 6)
print( 3 * (9+3))
print(974 % 32)

2
0.4728
-268.45
12
8.54
2
36
14

In [99]:
my_num = - 5
print(my_num)

-5

In [113]:
print(abs(my_num))
print(my_num , "is my fav")

5
-5 is my fav

In [121]:
print(pow(my_num,20))
print(max(389, 482))
print(min(389, 482))
print(round(3.289))
print(round(3.789))

95367431640625
482
389
3
4

In [129]:
from math import *
print(floor(3.7))
print(ceil(3.7))
print(sqrt(34783))

3
4
186.50201071302155

In [135]:
#List of 5 numbers and squares
numbers = [2,4,5,3,7]
squares = [num ** 2 for num in numbers]

print("numbers:", numbers)
print("sqaures:", squares)

numbers: [2, 4, 5, 3, 7]
sqaures: [4, 16, 25, 9, 49]

In [149]:
#Is prime
def isprime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n%i == 0:
            return False       
    return True
    
print("Is 7 prime?", isprime(7))
print("Is 12 prime?", isprime(12))

Is 7 prime? True
Is 12 prime? False

In [153]:
#Dictionary of 3 fruits and their prices

fruit_prices = {
    "Apple":100,
    "Banana":50,
    "Mango":200
}

print("Fruits and their prices:")
for fruit, price in fruit_prices.items():
    print(f"{fruit}: ${price}")

Fruits and their prices:
Apple: $100
Banana: $50
Mango: $200