In [12]:
import pandas as pd

import seaborn as sns

df = sns.load_dataset("titanic")

print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [14]:
print(df.info())
print('**************************')
print(df.describe())
print('**************************')
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
**************************
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
**************************
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [16]:
print(df['age'])

print(df[df['age']>60])

print(df.loc[0:5, ['age', 'sex', 'fare']])

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64
     survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
33          0       2    male  66.0      0      0   10.5000        S  Second
54          0       1    male  65.0      0      1   61.9792        C   First
96          0       1    male  71.0      0      0   34.6542        C   First
116         0       3    male  70.5      0      0    7.7500        Q   Third
170         0       1    male  61.0      0      0   33.5000        S   First
252         0       1    male  62.0      0      0   26.5500        S   First
275         1       1  female  63.0      1      0   77.9583        S   First
280         0       3    male  65.0      0      0    7.7500        Q   Third
326         0       3    male  61.0      0      0    6.2375        S   Third
438         0       1    male  64.0      1      4  263.0000        S   First
456         0       1    male  65.0      0      0   26.5500        S   First
483         1       3  female  63.0      0      0    9.5875        S   Third
493         0       1    male  71.0      0      0   49.5042        C   First
545         0       1    male  64.0      0      0   26.0000        S   First
555         0       1    male  62.0      0      0   26.5500        S   First
570         1       2    male  62.0      0      0   10.5000        S  Second
625         0       1    male  61.0      0      0   32.3208        S   First
630         1       1    male  80.0      0      0   30.0000        S   First
672         0       2    male  70.0      0      0   10.5000        S  Second
745         0       1    male  70.0      1      1   71.0000        S   First
829         1       1  female  62.0      0      0   80.0000      NaN   First
851         0       3    male  74.0      0      0    7.7750        S   Third

       who  adult_male deck  embark_town alive  alone
33     man        True  NaN  Southampton    no   True
54     man        True    B    Cherbourg    no  False
96     man        True    A    Cherbourg    no   True
116    man        True  NaN   Queenstown    no   True
170    man        True    B  Southampton    no   True
252    man        True    C  Southampton    no   True
275  woman       False    D  Southampton   yes  False
280    man        True  NaN   Queenstown    no   True
326    man        True  NaN  Southampton    no   True
438    man        True    C  Southampton    no  False
456    man        True    E  Southampton    no   True
483  woman       False  NaN  Southampton   yes   True
493    man        True  NaN    Cherbourg    no   True
545    man        True  NaN  Southampton    no   True
555    man        True  NaN  Southampton    no   True
570    man        True  NaN  Southampton   yes   True
625    man        True    D  Southampton    no   True
630    man        True    A  Southampton   yes   True
672    man        True  NaN  Southampton    no   True
745    man        True    B  Southampton    no  False
829  woman       False    B          NaN   yes   True
851    man        True  NaN  Southampton    no   True
    age     sex     fare
0  22.0    male   7.2500
1  38.0  female  71.2833
2  26.0  female   7.9250
3  35.0  female  53.1000
4  35.0    male   8.0500
5   NaN    male   8.4583

In [22]:
df['fare_per_person'] = df['fare']/(df['parch'] + df['sibsp'] + 1)
print(df[['fare', 'fare_per_person']].head())

      fare  fare_per_person
0   7.2500          3.62500
1  71.2833         35.64165
2   7.9250          7.92500
3  53.1000         26.55000
4   8.0500          8.05000

In [24]:
female_survivors = df[(df['sex'] == 'female') & (df['survived'] == 1)]
print("Female survivors count:", len(female_survivors))

Female survivors count: 233